h1 a:visited {
    text-decoration: none;
    color: white;
}

a:link {
    text-decoration: none;
}

.page-header {
    background-color: limegreen;
    margin-top: 0;
    padding: 20px 20px 20px 20px;
    text-align: center;
    color: white;
}

.subpage-header {
    background-color: yellowgreen;
    margin-top: 0;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: white;
}

body {
    font-family: 'Lato', sans-serif;
    color: black;
}

.list-group-item-heading {
    padding-top: 15px;
    padding-left: 30px;
    color: black;
}

.list-group-item-text {
    color: dimgray;
    padding-left: 30px;
}

.mybtn {
    text-align: center;
    margin-bottom: 10px;
}

.err1 {
    color: red;
    text-align: center;
    font-size: 20px;
    margin: 20px;
}

.mybtn1 {
    width: 100px;
}